.container
{  padding-top: 10px;
	text-align: 30px;
   background-image:width="20%" height="50%";
   background-color:mintcream;
	margin:auto;
	padding-left: 40px;
	padding-right: 40px;
}

.v1{
    position: relative;
    text-align: center;
    top: 8px;
  left: 16px;
    max-width: 100%;
    margin: auto;
}
.t1{
	color: gold;
	position: absolute;
	top: 8px;
  left: 16px;
  padding-top: 500px;
  padding-left: 500px;
  font-size: 20px;
}

.old{
	background-color: blue;
}

.containerold input[type="checkbox"]{
	display: flex;
	flex-direction: column;
}

.h
{ 
	box-shadow: 0 0 20px #00fffb,0 0 40px #0081bc;
   border-radius:15px;
   block-size:130px;
   color:white;
   background-color:#159799;
}

h1{

	font-size: 40px;
}

select{
	margin-left: 10px;
	margin: 5px;
	margin-bottom: 0px;
	text-align: center;
   width: 200px;
   font-size: 15px;
   border-radius: 8px;
   block-size: 25px;
	background-color:pink;

}


marquee
{
	width:50%;
	height:350px;
	border-radius: 5%;
	background-color:#159799;
}

button{
   text-decoration:none;
	text-align: center;
	padding-bottom: 40px;
	margin-left:20px;
    block-size: 20px;
    border-radius:15px;
	background-color:pink;
}



.new{
	align-self: center;
	border: 10px;
	display: flex;
	flex-direction: column;
	font-weight: bolder;
	box-shadow: 10px 10px 5px 5px cadetblue;
	border-radius: 20px;
	background-color:mintcream;
	max-width: 500px;
	max-height: 550px;
	margin: auto;
	padding: 20px;
	box-shadow: 10px,10px 5px;
}

.containerold {
	    text-decoration:none;
	display: flex;
 	flex-direction: column;
	box-shadow: 10px 10px 5px 5px grey;
	text-align: center;
	margin:auto;
	border-radius: 3px;
	background-color:white;
	max-width: 500px;
	padding: 30px;
	margin-top: 50px;
	box-shadow: 15px,15px,10px;
}

.containerold input[type="text"], .containerold input[type="email"],
 input[type="number"],.containerold input[type="password"],
 input[type="date"]
{
	letter-spacing: 3px;
  margin-left: 15px;
	margin-top: 5px;
	border-top: 5px;
	padding: 15px;
 	border-radius: 5px;
 	border: none;
 	font-size: 17px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) ;
    width: 95%;
    block-size: 35px;
 }

 .containerold input[type="button"]{
 	block-size: 40px;
 	border: none;
 	font-size: 16px;
 	border-radius: 4px;
 	letter-spacing: 3px;
   font-weight: bold;
   color: white;
   background-color: skyblue;
   
    }

 .new input[type="text"], .new input[type="email"],
 input[type="number"],.new input[type="password"],
 input[type="date"]
{  
	margin-top: 5px;
	margin-left: 10px;
	border-top: 5px;
	padding: 5px;
 	border-radius: 5px;
 	border: none;
 	text-align: center;
 	font-size: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) ;
    width: 70%;
    block-size: 25px;
 }


 .new input[type="button"]{
 	margin-top: 5px;
 	border: none;
 	margin-left: 5px;
 	padding: 10px;
 	background-color:skyblue;
 	border-radius: 10px;
 	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
 }

input[type="button"]:hover{

	background-color:#159799;
}

label{
	margin-left: 10px;
}




.new1{
	opacity: 5;
	color: #fff;
	box-sizing: border-box;
	background-color:rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px #000;
	max-width: 400px;
	height: 300px;
	margin: auto;
	padding: 40px;
	margin-top: 150px;
}

.new1:before {
display: block;
filter: blur(5px);
}